name: UI Auto Redeploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Run local deploy script
        run: |
          cd ~/website/frontend
          ./scripts/deploy.sh
