name: Frontend CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Node version
        run: node -v

      - name: Install dependencies
        run: npm install

      - name: Build frontend
        run: npm run build
